.top {
  background-color: rgb(47, 65, 79);
  color: blanchedalmond;
  min-height: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr auto 1fr auto;
  grid-template-rows: 1fr;
  place-items: center;
  font-size: 1.5em;
}

.navButton {
  font-size: 1.5em;
}
